cloudpickle==0.8.0
cycler==0.10.0
dask==1.1.2
decorator==4.3.2
h5py==2.10.0
hickle==3.4.5
imageio==2.5.0
kiwisolver==1.0.1
matplotlib==3.3.1
networkx==2.2
numpy==1.19.1
Pillow==9.0.0
protobuf==3.6.1
pycurl==7.43.0
pygobject==3.20.0
pyparsing==2.0.3
python-apt==1.1.0b1+ubuntu0.16.4.2
python-dateutil==2.4.2
pytz==2014.10
PyWavelets==1.0.2
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
tensorboardX==1.8
toolz==0.10.0
torch==1.5.1
torchvision==0.6.1
unattended-upgrades==0.1
virtualenv==15.0.1
tqdm==4.36.1